In [5]:
import pickle

import pandas as pd

In [6]:
pd.read_csv("./data/X_train.csv")

,Unnamed: 0,gender,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability
0,4993,0.0,0.25,1.0,0.0,0.000000,0.05,0.0
1,5053,0.0,0.50,1.0,0.0,0.000000,0.05,0.0
2,1342,0.0,0.50,1.0,0.0,0.000000,0.05,0.0
3,869,0.0,0.25,1.0,0.0,0.000000,0.05,0.0
4,3654,0.0,0.25,0.0,0.0,0.000000,0.05,0.0
...,...,...,...,...,...,...,...,...
3343,3537,0.0,0.25,0.0,0.5,0.000000,0.05,0.0
3344,4201,0.0,0.75,1.0,0.5,0.000000,0.05,0.0
3345,995,0.0,0.25,1.0,0.0,0.166667,0.15,0.0
3346,1811,0.0,0.25,1.0,0.0,0.000000,0.05,0.0
3347,5190,0.0,0.50,0.0,0.0,0.000000,0.05,0.0

In [ ]:
pd.read_csv("./data/X_test.csv")
pd.read_csv("./data/y_train.csv")
pd.read_csv("./data/y_test.csv")

In [3]:
loaded_model = pickle.load(open("./models/clf_lr", "rb"))
result = loaded_model.score(X_test, Y_test)
print(result)

NameError: name 'X_test' is not defined