In [1]:
"""
Created on: Wed. 5 Oct. 2022
Updated on: Thu. 13 Oct. 2022
Updated on: Fri. 14 Oct. 2022
Updated on: Mon. 31 Oct. 2022
Updated on: Mon. 14 Nov. 2022
Updated on: Wed. 4 Jan. 2023
Updated on: Thu. 5 Jan. 2023
Updated on: Fri. 6 Jan. 2023
Updated on: Wed. 11 Jan. 2023
Author: Mélina Verger

Run all `pipeline.ipynb`. You will have to enter:
* the data set you chose,
* if you want to reduce your data set to course 'BBB' or course 'FFF' data,
* the train-test split ratio you want between 70-30 or 80-20,
* the sensitive attributes you should have identified,
* the classifier models to study.
"""

# To exit script
from sys import exit

# For data manipulation
import pandas as pd
pd.set_option('display.max_columns', None)

# To make the train-test split
from sklearn.model_selection import train_test_split

# To save the variables
import pickle

# To interact with the operating system
import os

# ML models
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import ComplementNB, MultinomialNB

## Load a numerical and scaled data set

In [2]:
# Load the chosen data set (num and scaled)

user_response1 = input("Do you want to work with stInfo, stAll or stClick set (scaled)? (Write either stInfo, stAll or stClick.)")
if user_response1 == "stInfo":
    data_num_scaled = pd.read_csv("../data/studentInfo_num_scaled.csv")
elif user_response1 == "stAll":
    data_num_scaled = pd.read_csv("../data/studentAll_num_scaled.csv")
elif user_response1 == "stClick":
    data_num_scaled = pd.read_csv("../data/studentClick_num_scaled.csv")
else:
    print("Invalid choice.")
    exit()

print(user_response1)

stClick

In [3]:
data_num_scaled

,gender,highest_education,imd_band,age_band,disability,num_of_prev_attempts,studied_credits,sum_click,final_result,code_module_AAA,code_module_BBB,code_module_CCC,code_module_DDD,code_module_EEE,code_module_FFF,code_module_GGG,code_presentation_2013B,code_presentation_2013J,code_presentation_2014B,code_presentation_2014J,region_East Anglian Region,region_East Midlands Region,region_Ireland,region_London Region,region_North Region,region_North Western Region,region_Scotland,region_South East Region,region_South Region,region_South West Region,region_Wales,region_West Midlands Region,region_Yorkshire Region
0,1.0,0.75,0.0,1.0,0.0,0.0,0.35,0.038653,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.75,1.0,0.5,0.0,0.0,0.05,0.059408,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.50,0.0,0.5,0.0,0.0,0.05,0.089361,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.25,0.0,0.0,0.0,0.0,0.05,0.042796,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.50,0.0,0.5,0.0,0.0,0.05,0.101251,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19959,0.0,0.50,0.0,0.0,1.0,0.0,0.00,0.019679,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
19960,0.0,0.25,1.0,0.0,0.0,0.0,0.00,0.001657,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
19961,0.0,0.25,1.0,0.5,0.0,0.0,0.00,0.036954,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19962,0.0,0.50,1.0,0.0,1.0,0.0,0.00,0.012884,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
19963,0.0,0.75,0.0,0.5,0.0,0.0,0.00,0.025478,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
# Either binarize age_band

def binarize_age(x):
    if x == 0:
        return 0
    elif x == 0.5:
        return 1
    elif x == 1:
        return 1

user_response_age = input("Do you want to binarize the feature 'age_band' (it will be renamed as 'age')? (y/n)")
if user_response_age == "y":
    data_num_scaled.age_band = data_num_scaled.age_band.apply(binarize_age)

In [5]:
DATA = user_response1
pickle.dump(DATA, open("../data/DATA", "wb"))

## Reduction data set to courses

In [6]:
# Choose a course

data_num_scaled_reduced = data_num_scaled

user_response3 = input("Do you want to reduce the data set to the course 'BBB'? (y/n)")
if user_response3 == 'y':
    data_num_scaled_reduced = data_num_scaled_reduced.loc[data_num_scaled_reduced["code_module_BBB"] == 1]
    print("Data reduction to course 'BBB'.", flush=True)
    print(f"Data shape: {data_num_scaled_reduced.shape}\n", flush=True)
elif user_response3 == 'n':
    print("No data set reduction to course 'BBB'.", flush=True)
else:
    print("Invalid choice.")
    exit()

user_response3bis = input("Do you want to reduce the data set to the course 'FFF'? (y/n)")
if user_response3bis == 'y':
    data_num_scaled_reduced = data_num_scaled_reduced.loc[data_num_scaled_reduced["code_module_FFF"] == 1]
    print("Data reduction to course 'FFF'.", flush=True)
    print(f"Data shape: {data_num_scaled_reduced.shape}\n", flush=True)
elif user_response3bis == 'n':
    print("No data set reduction to course 'FFF'.", flush=True)
else:
    print("Invalid choice.")
    exit()

No data set reduction to course 'BBB'.
Data reduction to course 'FFF'.
Data shape: (4740, 33)

In [7]:
data_num_scaled_reduced.shape

(4740, 33)

In [8]:
# Keep the interesting features

if user_response1 == "stInfo":
    data_num_scaled_reduced = data_num_scaled_reduced[["gender", "highest_education", "imd_band", "age_band",  "disability", "num_of_prev_attempts", "studied_credits", "final_result"]]

if user_response1 == "stAll":
    data_num_scaled_reduced = data_num_scaled_reduced[["gender", "highest_education", "imd_band", "age_band",  "disability", "num_of_prev_attempts", "studied_credits", "sum_click", "weighted_score", "final_result"]]

if user_response1 == "stClick":
    data_num_scaled_reduced = data_num_scaled_reduced[["gender", "highest_education", "imd_band", "age_band",  "disability", "num_of_prev_attempts", "studied_credits", "sum_click", "final_result"]]

In [9]:
data_num_scaled_reduced.shape

(4740, 9)

In [10]:
data_num_scaled_reduced

,gender,highest_education,imd_band,age_band,disability,num_of_prev_attempts,studied_credits,sum_click,final_result
13106,0.0,0.50,1.0,0,0.0,0.000000,0.05,0.170685,1.0
13107,1.0,0.50,0.0,1,0.0,0.000000,0.05,0.087248,1.0
13108,1.0,0.50,1.0,0,0.0,0.000000,0.05,0.091723,1.0
13109,1.0,0.25,1.0,1,0.0,0.166667,0.15,0.117574,1.0
13110,1.0,0.75,0.0,1,0.0,0.000000,0.10,0.077098,1.0
...,...,...,...,...,...,...,...,...,...
17841,1.0,0.25,0.0,1,0.0,0.166667,0.05,0.108501,0.0
17842,1.0,0.25,0.0,1,0.0,0.000000,0.10,0.163270,1.0
17843,0.0,0.50,0.0,0,1.0,0.000000,0.15,0.146284,1.0
17844,1.0,0.25,0.0,1,0.0,0.166667,0.10,0.349573,1.0
17845,1.0,0.50,0.0,0,0.0,0.166667,0.15,0.107548,1.0

In [11]:
# Rename "age_band" and "imd_band"

data_num_scaled_reduced.rename(columns={"age_band": "age"}, inplace=True)
data_num_scaled_reduced.rename(columns={"imd_band": "poverty"}, inplace=True)

## Machine learning (preparation)

### X-y split

In [12]:
X = data_num_scaled_reduced.drop(columns="final_result")
y = data_num_scaled_reduced["final_result"]

### Train-test split

In [13]:
# Choose a train-test split

user_response2 = input("Do you want 70-30 or 80-20 train-test split? (Write either 7030 or 8020.)")
if user_response2 == "7030" or user_response2 == "8020":
    SPLIT = user_response2
else:
    print("Invalid choice.")
    exit()

print(user_response2)

7030

In [14]:
pickle.dump(SPLIT, open("../data/SPLIT", "wb"))

In [15]:
if SPLIT == "7030":
    ratio = 0.30
elif SPLIT == "8020":
    ratio = 0.20

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=ratio, random_state=0, stratify=y, shuffle=True)

In [17]:
# Gender imbalance

round(X_train["gender"].value_counts()[0] / (X_train["gender"].value_counts()[0] + X_train["gender"].value_counts()[1]) * 100, 2)

17.78

In [18]:
# Positive class imbalance

round(y_train.value_counts()[1] / (y_train.value_counts()[1] + y_train.value_counts()[0]) * 100, 2)

66.61

In [19]:
pd.DataFrame(X_train).to_csv("../data/X_train" + "_" + DATA + "_" + SPLIT + ".csv", index=False)
pd.DataFrame(X_test).to_csv("../data/X_test" + "_" + DATA + "_" + SPLIT + ".csv", index=False)
pd.DataFrame(y_train).to_csv("../data/y_train" + "_" + DATA + "_" + SPLIT + ".csv", index=False)
pd.DataFrame(y_test).to_csv("../data/y_test" + "_" + DATA + "_" + SPLIT + ".csv", index=False)

In [20]:
print(X_train.shape)
print(X_test.shape)

(3318, 8)
(1422, 8)

## Choose the sensitive features

In [21]:
user_response4 = int(input(f"How many sensitive features do you consider into {list(X_train.columns)}? (Write a number greater than 0.)"))

L_sensitive_features = list()

if user_response4 == 1:
    feature_name = input(f"Write a feature name belonging to {list(X_train.columns)}: ")
    if feature_name in X_train.columns:
        L_sensitive_features.append(feature_name)
    else:
        print("Invalid name.")
        exit()

else:
    for i in range(user_response4):
        feature_name = input(f"Write the feature name #{i + 1} belonging to {list(X_train.columns)}: ")
        if feature_name in X_train.columns:
            L_sensitive_features.append(feature_name)
        else:
            print("Invalid name.")
            exit()

print("Sensitive features: ", L_sensitive_features)

Sensitive features:  ['gender', 'poverty', 'disability', 'age']

In [22]:
SFEATURES = L_sensitive_features
pickle.dump(SFEATURES, open("../data/SFEATURES", "wb"))

## Select the classifier models

In [23]:
model_names = []
models = dict()

user_response_lr = input("Do you want to use a logistic regression classifier (LR)? (y/n)")
if user_response_lr == "y":
    clf_lr = LogisticRegression(random_state=0)
    model_names.append("a logistic regression")
    models["clf_lr"] = clf_lr

user_response_kn = input("Do you want to use a k-nearest neighbors classifier (KN)? (y/n)")
if user_response_kn == "y":
    clf_kn = KNeighborsClassifier()
    model_names.append("a k-nearest neighbors")
    models["clf_kn"] = clf_kn

user_response_dt = input("Do you want to use a decision tree classifier (DT)? (y/n)")
if user_response_dt == "y":
    clf_dt = DecisionTreeClassifier(random_state=0)
    model_names.append("a decision tree")
    models["clf_dt"] = clf_dt

user_response_rf = input("Do you want to use a random forest classifier (RF)? (y/n)")
if user_response_rf == "y":
    clf_rf = RandomForestClassifier(random_state=0)
    model_names.append("a random forest")
    models["clf_rf"] = clf_rf

user_response_svc = input("Do you want to use a linear support vector classifier (SVC)? (y/n)")
if user_response_svc == "y":
    clf_svc = LinearSVC(random_state=0)
    model_names.append("a linear support vector")
    models["clf_svc"] = clf_svc

user_response_cnb = input("Do you want to use a complement naive bayes classifier (CNB)? (y/n)")
if user_response_cnb == "y":
    clf_cnb = ComplementNB()
    model_names.append("a complement naive bayes")
    models["clf_cnb"] = clf_cnb

user_response_mnb = input("Do you want to use a multinomial naive bayes classifier (MNB)? (y/n)")
if user_response_mnb == "y":
    clf_mnb = MultinomialNB()
    model_names.append("a multinomial naive bayes")
    models["clf_mnb"] = clf_mnb

if len(model_names) == 0:
    print("You chose none of these models. Please implement one.")
else:
    print(f"You chose {', '.join(model_names)} classifiers.", flush=True)

You chose a logistic regression, a k-nearest neighbors, a decision tree, a complement naive bayes classifiers.

In [24]:
# Train and save trained models

for mod_name in models:
    mod = models[mod_name]  # the model object
    models[mod_name] = mod.fit(X_train, y_train)  # update with trained models
    

MODELS = models
pickle.dump(MODELS, open("../data/MODELS", "wb"))

## Execute automatically

In [25]:
!jupyter nbconvert --to notebook --execute dataviz.ipynb

[NbConvertApp] Converting notebook dataviz.ipynb to notebook
[NbConvertApp] Writing 142998 bytes to dataviz.nbconvert.ipynb

In [26]:
!jupyter nbconvert --to notebook --execute eval_performance.ipynb

[NbConvertApp] Converting notebook eval_performance.ipynb to notebook
[NbConvertApp] Writing 41376 bytes to eval_performance.nbconvert.ipynb

In [27]:
!jupyter nbconvert --to notebook --execute eval_fairness_madd.ipynb

[NbConvertApp] Converting notebook eval_fairness_madd.ipynb to notebook
[NbConvertApp] Writing 12916 bytes to eval_fairness_madd.nbconvert.ipynb

In [28]:
!jupyter nbconvert --to notebook --execute eval_fairness_plots.ipynb

[NbConvertApp] Converting notebook eval_fairness_plots.ipynb to notebook
[NbConvertApp] Writing 523906 bytes to eval_fairness_plots.nbconvert.ipynb

In [29]:
!jupyter nbconvert --to notebook --execute abroca.ipynb

[NbConvertApp] Converting notebook abroca.ipynb to notebook
[NbConvertApp] Writing 334379 bytes to abroca.nbconvert.ipynb